# Ignore .git folder
.git*
.gitignore

logstash-logo.png
LICENSE
README.md
docker-compose.yml
.DS_Store
build
release
Makefile
VERSION

export_dashboards.py
no-pic.patch
output/
beats-dashboards-5.0.0/
